<!DOCTYPE html>
<html>
  <head>
    <title>Task Queue - A Flask and RethinkDB App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Work+Sans" rel="stylesheet">
    <style>

    * {
    background-color: f4f4f4;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

      .h1 {
        font-style: Work Sans;
        font-weight: 600;
        font-size: 14px;
      }

      .add-btn{
        background-color: #d4d4d4;
        border-radius: 4px;
        font-color: #f4f4f4;
        width: 50px;
        height: 25px;
        font-size: 12px;
      }

      .input #label {

        background-color: #e4e4e4;


      }

    </style>
  </head>
  <body>
  	<div class="container">
    	{% block content %}{% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
