{% extends "base.html" %}
{% block content %}

<h1>Tagg</h1>
<p class="lead">Add tasks you usually forget.</p>

<form action="" role="form" method="POST" name="add_task">
	{{form.hidden_tag()}}
	<p>
		<h4>Enter a reminder</h4>
		{{form.label}}
		<input type="submit" value="Send" class="add-btn">
		{% for error in form.errors.label %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
	</p>
</form>


{% for task in tasks %}
  <li>{{ task.name }}</li>
{% endfor %}

{% endblock %}
